*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{
  background:#f8fafc;
}

a{
  text-decoration:none;
}

.box{
  background:white;
  padding:30px;
  width:250px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,.1);
}